<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        class="toggle-button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
      </button>
      <span class="portal">
        <mat-icon class="fire">local_fire_department</mat-icon>
        Entertainment Portal
      </span>
      <span class="example-spacer"></span>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs class="menu-back">
        <ul fxLayout fxLayoutGap="20px" class="menu-items">
          <button class="user" mat-raised-button routerLink="/home">
            Home
          </button>
          <button class="user" mat-raised-button routerLink="/logout">
            Log Out
          </button>
        </ul>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.gt-xs>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu">
          <mat-icon class="valign-center">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            class="user"
            mat-raised-button
            color="primary"
            routerLink="/home">
            Home
          </button>
          <button class="user" mat-raised-button routerLink="/logout">
            Log Out
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
   
  </mat-sidenav-content>
</mat-sidenav-container>
