
<form [formGroup]="searchForm" class="searchBar" (ngSubmit)="onSearchSubmit()">
    <input type="text" placeholder="search value" class="searchBarInput" formControlName="searchValue">
    <button class="searchButton">
        <mat-icon>search</mat-icon>
     </button>
</form>
  <div class="container responsive-grid">
    <mat-card *ngFor="let movie of movies">
        <mat-card-header>
            <img mat-card-image *ngIf="movie.backdrop_path!==null; else notFound" 
            [src]="'https://image.tmdb.org/t/p/w500/'+ movie.backdrop_path">
            <ng-template #notFound>
                <img [src]="'../../assets//movies/not-found.png'">
            </ng-template>
        </mat-card-header>
        <mat-card-content>
            <p>{{generateStar(movie.vote_average)}}</p>  
            <p>{{movie.title}}</p>
            <p>{{movie.release_date}}</p>
            <p class="overview">{{ movie.overview | slice:0:200 }}{{ movie.overview.length > 150 ? '...' : '' }}</p>
        </mat-card-content>
    </mat-card>
</div>

