body {
    color: #C1F2B0;
    font-size: 16px;

}
.return{
    text-align: end;
    padding-right:10px;
}
.mat-icon.close {
    color: #C1F2B0;
    font-size: 40px;
    padding: 20px 20px;
}

.description {
    line-height: 40px;
}

.title {
    text-align: unset;
    font-weight: bold;

}

.actor {
    font-size: 18px;
}

.cast {
    padding: 20px;
}

.crew-list {
    font-weight: bolder;
    padding: 0px 40px;
    font-size: 20px;
}

.genre {
    margin: 0 0 8px;
}

.movie-info {
    margin: 0 10px;
}

.poster {
    display: block;
    width: 260px;
    height: 320px;
    border-radius: 15px;
}

.rating {
    margin: 0px;
    font-weight: bolder;
    text-align: center;
}

.rate {
    text-transform: uppercase;
    text-align: center;
}

.square {
    padding: 0px 20px;
}

.first-part,
.button-click {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
}

.actor-info {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.cast-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 10px 50px;


}

.circular-container {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.button-click {
    align-items: center;
    gap: 75px;
    padding-top: 13px;
}

a.user {
    color: #060404;
    background-color: #C1F2B0;
}

@media screen and (max-width: 755px) {
    .first-part {
        flex-direction: column;
        align-items: center;

    }
    .return{
        text-align: center;
    }

    .cast-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .right-part {
        padding: 20px 0px;
    }

    .button-click {
        justify-content: center;
    }

    .crew-list {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 1.5em;
    }

    .cast-list {
        padding: 0px;
    }

    .button-click {
        flex-direction: column;
        gap: 5px;
    }

}

@media screen and (max-width: 390px) {
    .first-part {
        padding: 0px;
    }

    .crew-list {
        padding: 13px 30px;
    }
}

@media screen and (max-width: 385px) {

    .rating,
    .rate {
        font-size: 1rem;
    }
}